.badge {
  padding: 2px 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-feature-settings: 'fina' on;
  color: #37352F;
  border-radius: 3px;
  margin: 0 5px ;
}