.heading {
  font-style: normal;
  font-weight: 700;
  color: #373530;

  &__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.big {
    font-size: 48px;
    line-height: 58px;
  }

  &.middle {
    font-size: 30px;
    line-height: 36px;
  }

  &.small {
    font-size: 16px;
    line-height: 24px;
  }

}

@media (max-width: 768px) {
  .heading {
    &.big {
      font-size: 25px;
    }

    &.middle {
      font-size: 20px;
    }

    &.small {
      font-size: 12px;
    }
  }
}