@import '../global/colors.scss';
.texteditor{
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid $textBlack;
  resize: vertical;
  height: 400px;
}