@import '../global/colors.scss';

.contact{
  &__content{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}

@media (max-width: 760px) {
  .contact{
    &__content{
      gap:20px;
    }
  }
}


.dashboard{
 
  &__contact{
    
    &__main{
      margin-top: 20px;
      

      &__button{
        width: 200px;
        margin-bottom:40px;
      }

      &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        
      }

      &__inputs{
        width: 250px;
        border: 1px solid $activeGreen;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }

  &__head__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      cursor: pointer;
    }
  }
}