@import '../global/colors.scss';

.experience {
  margin-top: 50px;

  &__card {
    margin: 20px 0;

    &__job {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 5px 0;
    }

    &__duty {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }


  &__heading{
    display: flex;
    align-items: cennter;
    justify-content: space-between;
  }

  &__add{
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    padding: 5px;
    height: 50px;
    display: inline;
    width: 50px;
    background-color: $orange;
    color: $textBlack;
    font-size: 30px;
    display: grid;
    place-content: center;
    font-weight: bold;
  }
}