@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './global/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.component-container {
  width: 60%;
  margin: 30px auto;
  position: relative;
  top: -150px;
}

.red{
  color: rgba(225, 70, 70, 1);
}

.italic{
  font-style: italic;
}


.without_avatar{
  margin-top: 200px;
}


button{
  width: 100%;
  padding: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  color: $white;
  background: $textBlack;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .without_avatar{
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .component-container {
    width: 100%;
    padding: 20px;
  }

  .component-container {
    top: -102px;
  }
  
}